.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.container > * {
    width: 100%;
}

.full-width {
    width: 100%;
}

.section-title {
    font-weight: bold;
    font-size: 1.2em;
}
mat-form-field {
    margin-bottom: 0.5em;
}